@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@font-face {
    font-family: xyz;   /*이름은 상식적으로 똑같이 부여하는게 좋지만 마음대로 부여 가능*/
    src: url(../font/GamjaFlower-Regular.ttf) format(true);
    /*이런식으로 적용도 가능하나, 요즘에 쓰는 추세는 아님*/
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    /* inherit 부모속성 적용 */
}

body {
    font-size: 16px;
    font-family: "Do Hyeon", "나눔고딕", "Nanum gothic", sans-serif;
    color: #333;
}

/* 헤더 */
.header {
    width: 1140px;
    height: 90px;
    margin: 0 auto;
    /* background-color: #ddd; */
}

.header h1 {
    float: left;
    padding-top: 28px;
    /* 90-34(이미지높이)=56/2=28 */
    margin-right: 25px;
}

.header h2 {
    float: left;
    line-height: 90px;
    font-size: 20px;
}

.header .menu {
    float: right;
}

.header .menu li {
    float: left;
    margin-left: 40px;
    line-height: 90px;
}

.header .menu li a:hover {
    color: rgb(17, 170, 157);
}

.header .menu li:nth-of-type(1):hover a{
    transform: translateZ(100px);
    perspective: 500px;
}

/* 메인비주얼 */

.section1 {
    height: 654px;
    /* background-image: url(./img/pc-cover-main.jpg);
background-repeat: no-repeat;
background-position: center top; */
    background: url(../img/background-img.jpg) no-repeat center top;
    background-size: cover;
    /* 박스를 꽉채운다 이미지가 잘린다 */
}

.section1 b {
    display: block;
    padding: 95px 0 15px;
    color: #fff;
    text-align: center;
    font-size: 3em;
}

.section1 > p {
    color: #fff;
    text-align: center;
    padding-bottom: 75px;
}

.section1 .container {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.section1 .container .quick {
    float: left;
    width: 270px;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.877);
    margin-right: 20px;
    border-radius: 45px 5px;
}

.section1 .container .quick.last {
    margin-right: 0px;
}

.section1 .quick h3 {
    margin: 55px 30px 30px 30px;
    font-size: 28px;
    background: url(../img/mouse.jpg) no-repeat right;
    /* 주의: 앞에 background-repeat , background-position 등 주석처리할것 */
}

.section1 .quick p {
    margin: 0 30px;
    font-size: 18px;
    letter-spacing: -1px;
    color: rgb(139, 131, 131);
}

/* 섹션2 */
.section2 {
    width: 1140px;
    margin: 0 auto;
}

.section2 div {
    float: left;
    width: 480px;
    padding: 80px 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right center;
}

.section2 h3 {
    font-size: 28px;
    padding-bottom: 15px;
}


.section2 .intro1 {
    background: url(../img/new-icon01.jpg) no-repeat;
    background-position: right center;
    margin-right: 180px;
    
}

.section2 .intro2 {
    background: url(../img/new-icon02.jpg) no-repeat;
    background-position: right center;
}

/*어사이드*/
aside {
    position: fixed;
    top: 0;
    right: -220px;
    /*right: 0;*/
    width: 220px;
    height: 100%;
    padding: 20px;
    background: #fff;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    margin-top: 80px;
}

aside #asidenav {
    margin-top: 20px;
}

aside #asidenav a{
    display: block;
    height: 36px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    line-height: 36px;
}

aside #asidenav a:hover{
    background-color: #333;
    color: #fff;
}

aside button {
    display: block;
    width: 52px;
    height: 132px;
    position: absolute;
    top: 150px;
    left: -52px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: 0;
    cursor: pointer;
}